* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body {
  color: #333;
  line-height: 1.6;
  background: #ffffff;
}

/* GLOBAL CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* NAVBAR */
.navbar {
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.logo {
  color: #4f46e5;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-left: 25px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
    text-decoration: underline;
    transform: translateY(-2px);
}


/* HERO */
.hero {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #ffffff;
  min-height: 60vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 28px;
  background: #22c55e;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #16a34a;
  transform: translateY(-2px);
}

/* SECTIONS */
section {
  padding: 80px 0;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #4f46e5;
}

/* SERVICES */
.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: #f9fafb;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

/* ABOUT */
.about p {
  max-width: 650px;
  margin: auto;
  text-align: center;
  font-size: 16px;
}

/* CONTACT */
.contact {
  background: #f0f4f8;
}

.contact p {
  text-align: center;
  margin-bottom: 10px;
}

/* RESPONSIVE (MOBILE FIRST FIX) */
@media (max-width: 768px) {

  .nav-content {
    flex-direction: column;
  }

  .navbar ul {
    display: none;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: 15px;
  }

  .service-cards {
    grid-template-columns: 1fr;
  }

  section {
    padding: 60px 0;
  }
}
